.hidden{
    display: none
}
#full-display{
    width: 90vw;
    height: 600px;
    background: rgba(0,0,0,0.9);
    border-radius: 50px;
    margin: 0 auto;
    padding: 20px;
    margin: 30px
}
#full-image{
    height: 90%;
    width: auto;
    display: block;
    margin: 0 auto;
}
